<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Student by NPM</title>
    </head>
    <body>
       	<h3 th:text="'NPM = ' + ${student.npm}">Student NPM</h3>
       	<h3 th:text="'Name = ' + ${student.name}">Student Name</h3>
       	<h3 th:text="'GPA = ' + ${student.gpa}">Student GPA</h3>
       	<h3>Kuliah yang diambil</h3>
       	<ul th:each="course,iterationStatus: ${student.courses}">
       		<li th:text="${course.nama} + '-' + ${course.sks} + ' sks'">
       			Nama kuliah-X SKS 
       		</li>
       	</ul>
    </body>
</html>

