<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
        <link th:href="@{/css/main.css}" href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>All Students</h1>
        
        <table>
        	<thead>
        		<th>No.</th>
        		<th>NPM</th>
        		<th>Name</th>
        		<th>GPA</th>
        	</thead>
        	<tr th:each="student,iterStat: ${students}" th:class="${iterStat.odd}? 'odd'">
        		<td th:text="${iterStat.count}"></td>
        		<td th:text="${student.npm}"></td>
        		<td th:text="${student.name}"></td>
        		<td>
        			<span th:text="${student.gpa}"></span>
        			<span class="warn" th:if="${student.gpa} lt 2" >Mahasiswa dalam probation</span>
        		</td>
        	</tr>
        </table>
    </body>
</html>
